@import '../../../assets/styles/main.scss';
@import '../../../assets/styles/vars.scss';

.footer {
  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    & > .copyright {
      display: block;

      & > a:hover {
        color: $orange-color;
      }
    }

    & > .aboutUs {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > button {
        background-color: transparent;
        padding: 0;
        margin-right: 20px;
        & > svg {
          width: 24px;
          height: 24px;

          &:hover path {
            fill: $orange-color;
          }
        }
      }
    }

    & > .copyright_mobile {
      display: none;
    }
  }

  @media(max-width:996px) {
    .container {
      flex-direction: column;

      & > .copyright {
        display: none;
      }

      & > .aboutUs {
        & > button:last-child {
          margin-right: 0;
        }
      }

      & > .copyright_mobile {
        display: block;
        margin-top: 20px;
      }
    }
  }
}

