@import '../../../../assets/styles/main.scss';
@import '../../../../assets/styles/vars.scss';

.header_bottom {
  display: flex;
  align-items: center;
  height: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $line-color;

  & > .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .wrapper_top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 20px;

      & > label {
        display: block;

        & > input {
          background-color: transparent;
          border: 2px solid $orange-color;
          border-radius: 5px;
        }
        & > span {
        }

        @media(max-width: 996px) {
          display: none;
        }
      }
  
      & > .forUser {
        display: flex;
        justify-content: space-between;
        align-items: center;
  
        & > button {
          width: 24px;
          height: 24px;
          background-color: transparent;
          margin-right: 20px;
          padding: 0;

          &:last-child {
            margin-right: 0;
          }

          & > svg {
            width: 24px;
            height: 24px;
          }

          
          & > svg:hover > path {
            fill: $orange-color
          }
          
        }

        @media(max-width: 996px) {
          display: none;
        }
      }

      & > .mobileBurger {
        display: none;
        
        @media(max-width: 996px) {
          display: block;
          margin-top: -3px;
        }
      }
    }

    & > .wrapper_bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-top: 10px;

      & > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        background-color: transparent;
        white-space: nowrap;
        font-size: 16px;
        color:  $text-color;
    
        &:last-child {
          margin-right: 0;
        }
    
        &.active {
          border-bottom: 1px solid $orange-color;
          color:  $text-color;
    
          &:hover {
            border: 1px solid $orange-color;
            color:  $text-color;
          }
        }
    
        &:hover {
          border-bottom: 1px solid $orange-color;
          color:  $orange-color;
        }
      }

      @media(max-width: 996px) {
        display: none;
      }
    }
  }

  @media(max-width: 996px) {
    height: 60px;
    
    .container {
     & > .wrapper_top {
        margin-top: 0;
      }
    }
  }

  & > .mobileNav {
    display: none;

    @media(max-width: 996px) {  
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      margin-top: 60px;
      z-index: 10;
      }


    }
}