@import '../../../assets/styles/main.scss';
@import '../../../assets/styles/vars.scss';

.container {
  margin-top: 40px;

  & > .numberProducts {
    & > p {
      margin-bottom: 40px;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      color: $text-color;
      opacity: .6;
    }
  }

  & > .wrapperList {
    margin-bottom: 40px;
    
    & > .productList {
      & > .productItem {
        display: flex;
        width: 100%;
        border: 1px solid $line-color;
        border-radius: 5px;
        margin-top: 20px;
        list-style: none;

        &:last-child {
          margin-bottom: 20px;
        }

        & > .imgProduct {
          margin-right: 20px;
        }

        & > .aboutItem {
          padding: 20px;
          & > a {
            display: inline-block;
            margin-bottom: 24px;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            color: $text-color;
  
            &:hover {
              color: $orange-color;
            }
          }
          & > .productDescription {
            margin-bottom: 24px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: $text-color;
            opacity: .8;
          }
          & > .productDate {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: $text-color;
            opacity: .6;
          }
        }
      }
    }
    & > .pagination {
      display: flex;
      justify-content: center;
      align-items: center;

      & > button {
        width: 32px;
        height: 32px;
        border: 1px solid #00000010;
        margin-right: 4px;
        padding: 0;
        color: #000000;
        font-weight: 400;
        opacity: 0.6;

        & > svg {

        }

        &.page {
          cursor: pointer;
        }
        
        &.page.active,
        .page:hover {
          border: 1px solid $orange-color;
          color: $orange-color;
        }
        
        &.page.disabled {
          background-color: transparent !important;
          cursor: not-allowed;
          opacity: 0.5;
        }
      }

      & > button:last-child {
        margin-right: 0;
      }

      & > .text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 72px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: $text-color;
        margin-right: 16px;
      }
    }
  }
}
