//colors
$background-color: rgb(42, 47, 55, 0.02);
$line-color: rgba(220, 220, 220);
$orange-color: rgba(247, 127, 0);
$blue-color: #0062bd;
$lite-blue-color: #23527c;
$green-color: #198754;
$red-color: rgba(155 65 65);
$text-color: #333e48;
$explanation-text-color: #333e48b3;

//fonts

//vars
$title-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
$text-size: 14px;